*	{
	margin:0em;
	padding:0em;
	}
	
header,section,footer,aside,nav,article,figure
	{
	display:block;
	
	}	
	

/* Horizontal rule Styling  */
hr	{
	height:.0625em;
	background-color:#D05A57;
	
	}

h1	{font: 1.5625em Calibri;
	color:#7A406B;
	margin-left:1.5em;
	padding:1.25em;
	text-shadow:0.0625em 0.0625em #888888; /* Text Shadow */	
	} 

/* Header styling (Logo & Title of the page) starts here */		

#header1{background-image:url(banner1.fw-small.png);
		background-repeat: no-repeat;
		background-size:100%;	
		width: 100%;
		height:17%;}

/* Section Styling starts here */
#main_section	{width:100%;			
				height:81%;
				}
				
/* Footer styling starts here */		
footer{
	clear:both;
	text-align:center;
	border-top:.0625em #DB46B3;
	width: 100%;
	height: 4%;
	padding:.625em;
	font:.875em  Calibri;
	background:#F7D7DC;}

		
#content2{
		float: right; width:75%;		
		background-repeat:no-repeat;
		height: 100%;
		padding-right: 1.875em;		
		}		
		
#side-nav{
		height:100%;
		width:20%;
	
		background:#F7D7DC;
		list-style:none;
		color:#7A406B;
		}
		
		

#header2{
		width:100%;	
		height:5%;
		
		}

		
#form1 {
		margin-top: 1.875em;
		padding-top: 0.5em;
		height: 78%;
		width: 55%;
		float:right;	
		background-color:#F8E5F3;
		}		
		
td {
    padding-top: .5em;
    padding-bottom: .5em;
}
		
	
#section2 {
		width:40%;
		float: left;
		/*height: 83%;*/				
		margin-top:15.625em;
		
		}
		
		
#audio{
		width:40%;
		margin-top:20.625em;
		}		
				
		
#content{float: right; width:80%;
			background-image:url(cake2_small.jpg);
			background-repeat:no-repeat;
			height: 31.25em;
			background-size: 100%;	
			
			}				
	
#content p {text-align : center;
			padding:.625em;
			font:1.125em  Calibri ;
            color:#7A406B;			
		}
#content2 p {text-align : left;
			padding:.25em;
			font:1.125em  Calibri ;
            color:#7A406B;			
			}
			
#aboutus_content p {text-align : center;
			padding:2em;
			font:1.125em  Calibri ;
            color:#7A406B;			
			}
				
#small-image {margin-left:28em;
			 }	

table {	
		width : 31.25em;
		font-family:Calibri;
		color:#685F5F;
		font-weight : normal;
		margin-left : 3.125em;
		margin-top:0.125em;
		
		
		 }
		 
#business {
		display : inline-block;
		float:left;
		margin-left:1.5em;
		
		}

h2	{font: 1.5625em Calibri;
	color:#7A406B;
/*	padding:1.25em; */
	margin-left:1.5em;
	} 	

	

#send {
	color: #000;
    font-weight: bold;
	margin-left: 20.375em;
	padding:.19em .38em .19em .38em;
	}
			


#p_style1{color:blue;
		font-weight:bold;
        font:Calibri;		  
		}			

/* Side Navigation bar Styling starts here */			

		
#side-nav li{		
		margin:0.3125em 0em;
		padding:0.3125em;
		list-style:none;
		color:#7A406B;
		font:1em Calibri;
		}

#side-nav-container a
		{display:block;
		color:#7A406B;
		background: #F293E4;
		width: 80%;
		text-decoration:none;
		padding:.3125em;
		MARGIN:0.09em;
		margin-left:2.1em;
		box-shadow:.4em .4em .125em #888888;	/*Box-shadow styling */
		/* Gradient styling */
		background: -webkit-linear-gradient(to right,#F293E4, #F4DEF4);
		background: -moz-linear-gradient(#F293E4, #F4DEF4);
		background: linear-gradient(to right , #F293E4, #F4DEF4);
		
		/* Transition */
		-webkit-transition: -webkit-transform 2s, background 2s, width 2s;
		transition: -webkit-transform 2s, background 2s, width 2s;
		-moz-transition: -webkit-transform 2s, background 2s, width 2s;
		-o-transition: -webkit-transform 2s, background 2s, width 2s;
		
		-webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
		animation: myfirst 5s;
		
		}

		/* Chrome, Safari, Opera */
		@-webkit-keyframes myfirst {
		from {background: #E8DAE6;}
		to {background: #F9F1D6;}
		}

		/* Standard syntax */
		@keyframes myfirst {
			from {background: #E8DAE6;}
			to {background: #F9F1D6;}
		}
		}	
		
#side-nav-container li {
					width: 10em;
					-webkit-transition: -webkit-transform 1s, background 1s, width 1s;
					}
		

#side-nav-container a:hover{
			-webkit-transform:scale(1.2);
			background:#ED9CED;
			width:10.9em;
			}